.Home {

    position: relative;
  background-image: url("/public/img/teeth.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

    height: 600px;

    h2 {
        margin-top: 5px;
        
    }

}